
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}
#nav a {
  font-weight: bold;
  color: #2c3e50;
}
#nav a.router-link-exact-active {
  color: #42b983;
}


#model-login[data-v-f5480dfe]{
  position:absolute;
  top:50%;
  left:36%;
  margin-top: -200px;
  margin-left: -100px;
}
#login-password[data-v-f5480dfe]{
  margin-left:8px;
  font-size:40px;
}
#login-email[data-v-f5480dfe]{
  margin-left:0px;
  font-size:40px;
}
#logInButtonId[data-v-f5480dfe]{
  margin-left: 28px;
  font-size:45px;
}



#model-register[data-v-caa049ae]{
  position:absolute;
  top:50%;
  left:35%;
  margin-top: -200px;
  margin-left: -100px;
}
#register-password[data-v-caa049ae]{
  margin-left:30px;
  font-size:40px;
}
#register-email[data-v-caa049ae]{
  margin-left:-10px;
  font-size:40px;
}
#buttonId[data-v-caa049ae]{
  margin-left:15px;
  font-size:40px;
}



#drop1-content[data-v-d330f468]{
    font-size:30px;
}
#drop1[data-v-d330f468]{
    display: inline-flex;
    width: 60px;
    height: 60px;
    font-size: 25px;
}



#pickId[data-v-dd03a2ec]{
    position: inherit;
    font-size: 40px;
    left:10%;
}
#drop1[data-v-dd03a2ec]{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 25px;
    left:10%;
    bottom: 80%;
}
#drop1-content[data-v-dd03a2ec]{
    font-size:25px;
}
#drop2[data-v-dd03a2ec]{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 25px;
    left:15%;
    bottom: 80%;
}
#drop2-content[data-v-dd03a2ec]{
    font-size:25px;
}
#drop3[data-v-dd03a2ec]{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 25px;
    left:20%;
    bottom: 80%;
}
#drop3-content[data-v-dd03a2ec]{
    font-size:25px;
}
#drop4[data-v-dd03a2ec]{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 25px;
    left:25%;
    bottom: 80%;
}
#drop4-content[data-v-dd03a2ec]{
    font-size:25px;
}
#drop5[data-v-dd03a2ec]{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 25px;
    left:30%;
    bottom: 80%;
}
#drop5-content[data-v-dd03a2ec]{
    font-size:25px;
}
#sumbitButId[data-v-dd03a2ec]{
    position: fixed;
    font-size: 25px;
    left:10%;
    bottom:70%;
}
#resultMessage[data-v-dd03a2ec]{
    position: fixed;
    bottom:50%;
    left:20%
}
#logOutBut[data-v-dd03a2ec]{
    position:fixed;
    bottom:94%;
    left:70%;
}



#result1[data-v-58c36b26]{
    position:fixed;
    border-style:solid;
    width: 50px;
    height: 50px;
    font-size: 25px;
    bottom:77%;
    left:60%;
}
#result2[data-v-58c36b26]{
    position:fixed;
    border-style:solid;
    width: 50px;
    height: 50px;
    font-size: 25px;
    bottom:77%;
    left:65%;
}
#result3[data-v-58c36b26]{
    position:fixed;
    border-style:solid;
    width: 50px;
    height: 50px;
    font-size: 25px;
    bottom:77%;
    left:70%;
}
#result4[data-v-58c36b26]{
    position:fixed;
    border-style:solid;
    width: 50px;
    height: 50px;
    font-size: 25px;
    bottom:77%;
    left:75%;
}
#result5[data-v-58c36b26]{
    position:fixed;
    border-style:solid;
    width: 50px;
    height: 50px;
    font-size: 25px;
    bottom:77%;
    left:80%;
}
#myNumber1[data-v-58c36b26]{
    position:fixed;
    border-style:solid;
    width: 50px;
    height: 50px;
    font-size: 25px;
    bottom:77%;
    left:15%;
}
#myNumber2[data-v-58c36b26]{
    position:fixed;
    border-style:solid;
    width: 50px;
    height: 50px;
    font-size: 25px;
    bottom:77%;
    left:20%;
}
#myNumber3[data-v-58c36b26]{
    position:fixed;
    border-style:solid;
    width: 50px;
    height: 50px;
    font-size: 25px;
    bottom:77%;
    left:25%;
}
#myNumber4[data-v-58c36b26]{
    position:fixed;
    border-style:solid;
    width: 50px;
    height: 50px;
    font-size: 25px;
    bottom:77%;
    left:30%;
}
#myNumber5[data-v-58c36b26]{
    position:fixed;
    border-style:solid;
    width: 50px;
    height: 50px;
    font-size: 25px;
    bottom:77%;
    left:35%;
}
#playerBetsT[data-v-58c36b26]{
    position: fixed;
    left:22%;
    font-size: 30px;
    bottom: 87%;
}
#resultBetsT[data-v-58c36b26]{
    position: fixed;
    left:65%;
    font-size: 30px;
    bottom: 87%;
}
#finalResult[data-v-58c36b26]{
    position: fixed;
    bottom: 40%;
    left:45%;
    font-size: 30px;
}
#drawingText[data-v-58c36b26]{
    position: fixed;
    left:70%;
    bottom:60%;
    visibility: hidden;
}
#HistoryBut[data-v-58c36b26]{
    position: fixed;
    left:45%;
    bottom:30%;
    font-size: 30px;
    visibility: hidden;
}
#logOutBut[data-v-58c36b26]{
    position:fixed;
    bottom:94%;
    left:70%;
}
div[data-v-58c36b26]{
   display: flex;
  justify-content: center;
  align-items: center;
}
.imgC[data-v-58c36b26]{
    position:fixed;
    width:30%;
    bottom:30%;
    left:10%;
}


div[data-v-3f0bf67a]{
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
}
td[data-v-3f0bf67a]{
  padding: 5px 20px;
}
#logOutBut[data-v-3f0bf67a]{
    position:fixed;
    bottom:94%;
    left:70%;
}
.lostBet[data-v-3f0bf67a]{
  color: red;
}
.wonBet[data-v-3f0bf67a]{
  color: green;
}




.centerTxt[data-v-735f077e] {
position: absolute;
left:30%;
top:35%;
font-size: 40px;
margin-top:-150px;
margin-left:-150px;
}
.centerImg[data-v-735f077e]{
  position: absolute;
  left:42%;
  bottom:30%;
  width:30%;
  height:30%;
  margin-top:-150px;
  margin-left:-150px;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

